.container{
    margin: auto;
   

}

.container-nav{
    margin: auto;
}

span{
    color: white;
}
.pago{
    display: flex;
    justify-content: space-between;
    color: rgb(255, 165, 0);
   
}
.cuadro {
    background-color: #F3F1F0;
}
#costo{
    background-color: #F3F1F0;
    padding: 10px;
}

#pago{
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px grey;
}


a i {
    text-decoration: none;
    color: white;
    font-size: xx-large;
  }

 a img {
     height: 100px;
 } 

 h3 {
     text-align: center;
     color: orange;
 }

 nav #pago{
     border-bottom: solid 1px black;
     padding: 5px;
 }

 .lowcost {
     font-size: 30px;
     
 }
 .terminos{
     color: orange;
 }
 