.lista-caracteristicas{
    list-style: none;
}
.lista-caracteristicas li{
    margin-left: 15px;
}
h1.nombre-hotel{
    font-size: 25px;
}
h4.ubicacion{
    font-size: 15px;
}
p.descripcion{
    font-size: 12px;
}
@media only screen and (max-width: 800px)  {
    h1.nombre-hotel{
        font-size: 18px;
    }
    h4.ubicacion{
        font-size: 15px;
    }
    h1.precio-noche{
        font-size: 20px;
    }
  }
.cabecera {
    /* background-image: url('../img/hotelLasAmericasPrincipal.JPG'); */
    height: 400px;

}

.alert-info {
    color: #0c5460;
    background-color: rgba(190, 190, 190, 0.7);
    border-color: #bee5eb;
    padding: .2rem 1.25rem;
}

#foto-principal {

    width: 100%;
    height: 400px;
    background-size: cover;

}

#franja-negra {
    height: 100px;
}
